# Description
Medical appointments are time commitments doctors make with their patients. However, some people do not show up (for different reasons), which causes lost time and money for the doctor. It is time for you to build models that predict whether the next appointment is a show or no show!

# Download the Dataset
Download the dataset from the following link:
- https://www.kaggle.com/joniarroba/noshowappointments

# Reading the Dataset

Read the dataset into the Pandas DataFrame!

Does the dataset include any missing values? If so, drop them!

Hint: Pandas can do that with one line of code!

In [78]:
import pandas as pd

df = pd.read_csv("KaggleV2-May-2016.csv")

df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

# Feature Extraction
Extract the following features:
- Gender
- Age
- Scholarship
- Hipertension
- Diabetes
- Alcoholism
- Handcap
- SMS_received

Note: you may see that some datasets names are not written using proper spelling. It is related to the dataset, for example:
- Hipertension=Hypertension
- Handcap=Handicap

In [79]:
df = df[["Gender", "Age", "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received", "No-show"]]

df

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,62,0,1,0,0,0,0,No
1,M,56,0,0,0,0,0,0,No
2,F,62,0,0,0,0,0,0,No
3,F,8,0,0,0,0,0,0,No
4,F,56,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...
110522,F,56,0,0,0,0,0,1,No
110523,F,51,0,0,0,0,0,1,No
110524,F,21,0,0,0,0,0,1,No
110525,F,38,0,0,0,0,0,1,No
110526,F,54,0,0,0,0,0,1,No

# Preprocessing

Perform any needed preprocessing of the chosen features, including:
- Scaling
- Encoding
- Dealing with NaN values

Hint: use only the preprocessing steps you believe are useful.

In [80]:
from sklearn.preprocessing import LabelEncoder

df.dropna()

df["Gender"] = LabelEncoder().fit_transform(df["Gender"])
df["No-show"] = LabelEncoder().fit_transform(df["No-show"])

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df[["Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received"]] = scaler.fit_transform(df[[ "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received"]], df[["No-show"]])

df.head(20)

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0,62,-0.330112,2.017378,-0.278261,-0.177068,-0.137722,-0.687612,0
1,1,56,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
2,0,62,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
3,0,8,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
4,0,56,-0.330112,2.017378,3.593747,-0.177068,-0.137722,-0.687612,0
5,0,76,-0.330112,2.017378,-0.278261,-0.177068,-0.137722,-0.687612,0
6,0,23,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,1
7,0,39,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,1
8,0,21,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
9,0,19,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
10,0,30,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
11,1,29,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,1
12,0,22,3.029274,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
13,1,28,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
14,0,54,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
15,0,15,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
16,1,50,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
17,0,40,3.029274,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,1
18,0,30,3.029274,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
19,0,46,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0

# Splitting the Data

Split your data as follows:
- 80% training set
- 10% validation set
- 10% test set

In [81]:
from sklearn.model_selection import train_test_split

X = df[["Gender", "Age", "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received"]]
y = df[["No-show"]]

X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.2, random_state=0)

X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=0)

print(len(X_train), len(X_test), len(X_validate))

88421 11053 11053

# Training Tree-based Classifiers

Use a decision tree classifier model to train your data.

Choose the best criterion for the decision tree algorithm by trying different values and validating performance on the validation set.

Note: choosing the best criterion is an example of hyper-parameter tuning.

Classification Metrics

Print the accuracy score of your final classifier.

Print the confusion matrix.

In [82]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion="entropy").fit(X_train, y_train)
results = model.score(X_test, y_test)

print("Accuracy =", results)

Accuracy = 0.8017732742241925

In [83]:
from sklearn.metrics import confusion_matrix

predictions = model.predict(X_validate)

print("Confusion Matrix: \n", confusion_matrix(y_validate, predictions))

Confusion Matrix:
 [[8760   73]
 [2185   35]]

# Random Forest

Repeat step 6.

Increase/decrease the number of estimators in random forest and comment on the difference of the classification metrics.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, criterion="gini", n_estimators=100)
model.fit(X_train, y_train.reshape(-1))
y_pred = model.predict(X_test)
scoreRFC = model.score(X_validate, y_validate)

print("Accuracy =", scoreRFC)

# Accuracy increases as n_estimators increases